body{
    padding-top: 54px;
}
.navbar-default a{
    float: left;
    padding-right: 15px;
}
.navbar-default span{
    position: relative;
    left: -25px;
}
#message li{
    height: 46px;
    line-height: 46px;
    font-size: 1.2em;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border-bottom: 1px solid red;
    color: red;
}
