body{
    padding-top: 54px;
    background: rgb(246, 246, 246);
}
.container-fluid{
    background: #ffffff;
}
.navbar-default a{
    float: left;
    padding-right: 15px;
}
#close{
    float: right;
    padding-right: 15px;
}
.details li{
    padding-left: 1em;
    margin-top: 0.4em;
}
.details a{
    display: block;
    color: red;
    text-decoration: underline;
}
.details{
    border-bottom: 1px solid #dddddd;
}
.mid{
    border-bottom: 0.2em solid #dddddd;
}
.mid span{
    color: #707070;
    display: block;
    margin: 0.4em 0;
    text-align: center;
}
.left img{
    position: relative;
    bottom: 2px;
}
.row{
    margin: 0;
    padding: 0;
}
.input-group .form-control{
    width: 80%;
    position: relative;
}
.row .table td{
    padding: 8px 8px 2px 8px ;

}
.input-group span{
    position: relative;
    top: 5px;
    right: 25px;
    z-index: 3;
}
.switch {
                      display: inline-block;
                      position: relative;
                      font-size: 12px;
                      width: 2em;
                      height: 1em;
                      line-height: 13px;
                  }
.switch input {
    width: 2em;
    height: 1em;
    position: absolute;
    z-index: 2;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
    outline: 0;
    border-style: none;
}

.switch input:before {
    content: '';
    width: 3em;
    height: 1.6em;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: top;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-shadow: #dfdfdf 0 0 0 0 inset;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    -webkit-transition: border .4s, background-color .4s;
    transition: border .4s, background-color .4s;
    -webkit-background-clip: content-box;
    background-clip: content-box; }
.switch input:after {
    content: '';
    width: 1.6em;
    height: 1.6em;
    position: absolute;
    top: 1px;
    left: 0;
    border-radius: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-transition: left .2s;
    transition: left .2s; }
.switch input:checked:before {
    border-color: red;
    -webkit-box-shadow: red 0 0 0 16px inset;
    box-shadow: red 0 0 0 16px inset;
    background-color: red;
    transition: background-color .4s;
    -webkit-transition: background-color .4s; }
.switch input:checked:after {
    left: 1.6em; }
.checkbox, .radiobox {
          width: 1.8em;
           height: 1.8em;
    text-align: center;
       }
.checkbox input[type=checkbox],
 .radiobox input[type=radio] {
           -webkit-appearance: none;
           background-color: transparent;
          outline: 0 !important;
           border: 0;
           font-size: 1em !important;
       }
 .checkbox input[type=checkbox]:before,
.radiobox input[type=radio]:before {
            display: inline-block;
            text-align: center;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 1.8em;
            font-weight: thin;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: rgb(212, 212, 212);
        }
 .checkbox input[type=checkbox]:checked:before,
 .radiobox input[type=radio]:checked:before {
            color: red;
        }
 .checkbox input[type=checkbox]:before {
            content: "\f096";
        }
 .checkbox input[type=checkbox]:checked:before {
            content: "\f14a";
        }
 .radiobox input[type=radio]:before {
            content: "\f1db";
        }
 .radiobox input[type=radio]:checked:before {
            content: "\f192";
        }
 .checkbox{
     position: absolute;
 }
.checkbox input{
    top: -0.8em;
}
.left{
    position: relative;
}
.table img{
    bottom: 4px;
    right: -2px;
}
.navbar-fixed-bottom{
    background: #ffffff;
    border-top: 2px solid #dddddd;
    text-align: center;
}
















