body{
    padding-top: 54px;
    background: rgb(246, 246, 246);
}
.container-fluid{
    background: #ffffff;
}
.navbar-default a{
    float: left;
    padding-right: 15px;
}
#close{
    float: right;
    padding-right: 15px;
}
.details li{
    padding-left: 1em;
    margin-top: 0.4em;
}
.details a{
    display: block;
    color: red;
    text-decoration: underline;
}
.details{
    border-bottom: 1px solid #dddddd;
}
.mid{
    border-bottom: 0.2em solid #dddddd;
}
.mid span{
    color: #707070;
    display: block;
    margin: 0.4em 0;
    text-align: center;
}
.left img{
    position: relative;
    bottom: 4px;
}

















