*{
    margin: 0;
    padding: 0;
}
html,body{
    overflow: hidden;
    width: 100%;
    height:100%;
}
body {
    padding-bottom: 52px;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.navbar-default{
    width: 100%;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    background-color: #ffffff;
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 99;
    font-size: 20px;
    margin-bottom: 0;
}
.icon{
    width: 30px;
    height: 26px;
}
li{
    list-style: none;
}
input{
    border-style: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: none;
    color: #dddddd;
}
a {
    color: black;
    text-decoration: none;
}

/*footer*/
.navbar-brand{
    background: #ffffff;
    padding: 0;
}
.navbar-brand li{
    border-right: 1px solid #cccccc;

}
#footer li a{
    font-size: 10px;
    color: black;
}
.btn-group-sm>.btn, .btn-sm{
    padding: 3px 10px;
}
.default{
    color: red;
}
caption{
    margin-left: 1em;
}