body{
    padding-top: 54px;
}
.img img{
    margin-top: 20px;
    width: 29rem;
    height: 18rem;
}
a {
    color: #000000;
    text-decoration: none;
}
.box{
    margin-top: 24rem;
    margin-left: 6rem;
}
.box input{
    outline:none;
    padding-left: 1em;
}
.box div{
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #cccccc;
}
#btn{
    border: 0;
}
#btn button{
    outline:none;
    margin-top: 1.2rem;
}